/*some of this moufucker's style also applies to mobile styling cus this stylesheet applies to all screens of this size or lesser*/
.grid,
.showcase .grid,
.stats .grid,
.cli .grid {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-content: center;
}

.showcase {
	height: auto;
}
.showcase-text {
	text-align: center;
	margin-block-start: 20px;
}
.showcase-form {
	justify-self: center;
	margin: auto;
}

/*making adjustments to the .stats section and its .grid*/
.stats {
	block-size: auto;
}
.stats .item:nth-child(2) {
	grid-row: auto;
	grid-column: 1/2;
}
.stats .item:nth-child(3) {
	grid-row: auto;
	grid-column: 1/2;	
}
.stats .item:nth-child(4) {
	grid-row: auto;
	grid-column: 1/2;	
}
/*the hosting section also*/
.hosting .container{
	flex-direction: column;
}

.footer div:nth-child(3) {
	justify-content: flex-start;
}